#root {
    h2 {
        text-align: center;
    }
}

.result-wrapper {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 20px 10px;

    .result-container {
        display: flex;
        justify-content: center;

        .result {
            .score {
                .score-label {
                    font-size: 1.2rem;
                    font-weight: bold;
                }

                .point {
                    font-size: 1.3rem;
                }
            }

            .span {
                font-weight: bold;

                .span-wrapper {

                    .span-label {
                        font-size: 1.2rem;
                    }

                    .span-name {
                        color: rgb(206, 0, 0);
                    }
                }

                .phase-wrapper {

                    .phase-label {
                        font-size: 1.2rem;
                    }

                    .phase-name {
                        color: rgb(206, 0, 0);
                    }
                }
            }
        }
    }
}       

@media screen and (max-width: 1024px) {
    #root {
        grid-row: 5;
        grid-column: 1/-1;
    }
}