body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Toggle */
.toggle {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
.toggle .toggle-label {
  font-weight: bold;
  font-size: 1.2em;
  text-align: right;
  margin: auto 0;
}

/* The switch - the box around the slider */
.toggle-button {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 40px;
  border-radius: 40px;
  background-color: #ddd;
  transition: background-color 0.4s;
}

.toggle-button:has(:checked) {
  background-color: rgb(255, 211, 115);
}

.toggle-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0px 5px rgb(0, 0, 0/20%);
  transition: left 0.4s;
}

.toggle-button:has(:checked)::after {
  left: 40px;
}

.toggle-button input {
  display: none;
}
