/* Toggle */
.toggle {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;

    .toggle-label {
        font-weight: bold;
        font-size: 1.2em;
        text-align: right;
        margin: auto 0;
    }

    /* The switch - the box around the slider */
    .toggle-button {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 40px;
        border-radius: 40px;
        background-color: #ddd;
        transition: background-color 0.4s;

        input {
            display: none;
        }

        &:has(:checked) {
            background-color: rgb(255, 211, 115);

            &::after {
                left: 40px;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            transition: left 0.4s;
        }
    }
}