#root {
    grid-row: 2;
    grid-column: 1;

    h2 {
        text-align: center;
    }

}


@media screen and (max-width: 1024px) {
    #root {
        grid-row: 2;
        grid-column: 1/-1;
    }
}